# Supply Chain Analytics – Data Loading & Overview

This notebook loads the raw datasets and performs an initial inspection
to understand the structure, data types, and key variables used in the
supply chain analysis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = pd.read_csv("../data/raw/orders_and_shipments.csv")
inventory = pd.read_csv("../data/raw/inventory.csv")
fulfillment = pd.read_csv("../data/raw/fulfillment.csv")

In [3]:
orders.head()

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Customer Country,Warehouse Country,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,2,27,Standard Class,4,400,0.25,200
1,4133,10320,201503,2015,3,2,07:37,1,Fan Shop,Fishing,...,Brazil,Puerto Rico,2015,3,6,Standard Class,4,400,0.09,200
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,4,20,Standard Class,4,400,0.06,200
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.15,200
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.13,200

In [4]:
orders.shape

(30871, 24)

In [5]:
inventory.head()
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product Name             4200 non-null   object
 1    Year Month              4200 non-null   int64
 2    Warehouse Inventory     4200 non-null   int64
 3   Inventory Cost Per Unit  4200 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 131.4+ KB

In [6]:
fulfillment.head()
fulfillment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 2 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Product Name                          118 non-null    object
 1    Warehouse Order Fulfillment (days)   118 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.0+ KB

## Initial Observations

- The orders_and_shipments dataset contains order-level transactional data,
  including customer, product, order date, shipment date, and sales values.
- Date fields are currently loaded as object types and will require
  conversion to datetime format.
- The inventory dataset contains warehouse-level stock and cost information
  for each product.
- The fulfillment dataset provides information related to order fulfillment
  and supplier performance.
- At this stage, no data cleaning or transformation has been applied.